/* #region header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sometype Mono", monospace;
}

header{
    background-image:url(../img/wall.png);
}

header > h1{
    font-size: 4rem;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
  
  
}



/* #endregion header */

/* #region main */

main{
    background-image: url(../img/cork.png);
}

.card{
    position: relative;
}

.card:hover .pin{
    display: none;
}

.pin{
    position: absolute;
    top: -1rem;
}



/* #endregion main */