*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sometype Mono", monospace;
}

body{
    /* position: relative;
    overflow: hidden; */
}

/* #region header */


header{
    background-image:url(../img/wall.png);
}

header > h1{
    font-size: 4rem;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
  
  
}



/* #endregion header */

/* #region main */


main{
    background-image: url(../img/cork.png);
}

.card{
    position: relative;
    transition: transform 5s ease-in-out;
    cursor: pointer;
}

.card:hover{
    rotate: 5deg;
    scale: 115%;
}

.card:hover .pin{
    display: none;
}

.pin{
    position: absolute;
    top: -1rem;
}

.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: fixed;
    top: 0;
    margin: auto;
    .col-12{
        img{
            width: 90%;
            height: auto;
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.preview{
    width: 80vw;
    background-color: white;
    border-radius: 50px;
    max-width: 800px;
    max-height: 800px;
    z-index: 100;
    /* position: sticky; */
    overflow-y:visible;
}

.title{
    width: 90%;
}

.closeBtn{
    background-color: rgb(200, 0, 0);
    width: 2rem;
    height: 3rem;
    font-size: 2rem;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    
}



/* #endregion main */